{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff0000;">
  <a class="navbar-brand" href="/home">Surprise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/send">Send a Gift</a>
      </li>
     <!--  <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron alert alert-success pt-5 pb-3">
  <div class='container'>
  <h1 class="display-4 d-flex justify-content-center">Merry Christmas!</h1>
  <p class="lead d-flex justify-content-center">Help Santa spread the joy of Christmas.</p>
  <hr class="my-4">
  <p class='d-flex justify-content-center'>Send a computer generated greeting image to anyone you wish! You'll be done in no time!</p>
  <p class="lead">
    <div class='container d-flex justify-content-center'>
    <a class="btn btn-success btn-lg mt-2" href="{{url_for('send')}}" role="button">Get Started</a>
   </div>
  </p>
</div>
</div>

 <div class='row  mt-5 mr-4 ml-4'>

  <div class="card bg-success col-sm ml-4 pb-4" style="width: 18rem;">
    <div class='container d-flex justify-content-center' style='height: 20rem;'>
  <img class="card-img-top" src="{{url_for('static', filename='santa.png')}}" alt="Card image cap" style='height: auto; width: 20rem;'>
</div>
  <div class="card-body">
    <h5 class="card-title text-white">So Santa, what's the deal?</h5>
    <p class="card-text text-light">As usual, I want to make Christmas as joyous and cheerful as can be. This time I decided to embrace tech and use it to spread the joy of Christmas. So I teamed up with 1ntEgr8 to build this tool!</p>
  </div>
</div>

<div class="card bg-warning col-sm ml-4 pb-4" style="width: 18rem;">
  <div class="card-body">
    <div class='container d-flex justify-content-center mb-5'>
  <img class="card-img-top" src="{{url_for('static', filename='tree.png')}}" style="height: auto; width: 15rem;" alt="Card image cap">
</div>
    <h5 class="card-title text-white">But, what exactly does this tool do?</h5>
    <p class="card-text text-light">Basically, it creates a unique, yes UNIQUE, pixelated image of a christmas tree with a Christmas greeting that contains your name and your recepient's name. Kinda like the pic in the card. You can use it to submit a Christmas greeting to at most 10 people! and yes, it's FREE (no ads :))</p>
  </div>
</div>


<div class="card bg-info col-sm ml-4 pb-4" style="width: 18rem;">
  <div class='container d-flex justify-content-center' style='height: 20rem;'>
  <img class="card-img-top" src="{{url_for('static', filename='gift.png')}}" alt="Card image cap" style="height: auto; width: 20rem;">
</div>
  <div class="card-body">
    <h5 class="card-title text-white">What's so special about it?</h5>
    <p class="card-text text-light">
      <ul class='card-text text-light list-unstyled'>
    <li class='mb-1'>It's much better than a plain old Merry Christmas text message</li> 
    <li class='mb-1'>It super fast and easy to use</li>
    <li class='mb-1'>The algorithm ensures that your greeting cards are not only UNIQUE but that each recepient receives a pattern that is based on a UNIQUE pattern created just for you, thereby giving an added personal touch to your greetings!</li></p>
  </ul>
  </div>
</div>
</div>


<!-- Footer -->
<footer>
  <div class='jumbotron bg-danger mb-0 mt-5'>
  <div class='container mt-2 mb-0'>
      <h5 class='d-flex justify-content-center text-white'>🎄 Made with ❤️ by 1ntEgr8 🎄</h5>
  </div>
</div>
</footer>
{% endblock %}