{% extends 'layout.html' %}

{% block body %}
	<div class='jumbotron bg-success'>
	<h1 id='message' class='d-flex justify-content-center pt-5 pb-5 text-white'>🎉 Found your Gift!!! 🎉</h1>
	</div>
	<div class='container col-1 pt-5'>
	<div id = 'loader' class='loader'></div>
	</div>

<script type="text/javascript">
	list_of_messages=['🧝 Sending elves to package your gift... 🧝', 
						'🎄 Reindeers have begun their journey from the North Pole... 🎄',
						  '🎅 Almost there...🎅 ',
						  "IT'S ARRIVED!!!"
						 ];
	list_of_colors=['bg-light',
					'bg-warning',
					'bg-light',
					'bg-warning'
					]
	list_of_text_colors=['dark',
						'white',
						'dark',
						'white'
						]
		let counter = 0;
		element = document.querySelector('#message')

		function change_message(){
			console.log(list_of_messages[counter])
			console.log(counter)
			element.innerHTML=list_of_messages[counter];
			element.className="d-flex justify-content-center pt-5 pb-5 text-" + list_of_text_colors[counter]
			divele = document.querySelector('.jumbotron');
			divele.className='jumbotron ' + list_of_colors[counter];
			counter+=1;
			if(counter==list_of_messages.length){
				clearInterval(myVar);
				load = document.querySelector('#loader')
				load.style.display='none';
				document.body.innerHTML="<div class='jumbotron bg-success'><h1 id='message' class='d-flex justify-content-center pt-5 pb-5 text-white'>🎊 IT'S ARRIVED!!! 🎊</h1></div> <div class='container'><button type='button' class='btn btn-primary btn-lg btn-block'>🎁 Click here to see your gift! 🎁</button></div>";
				press_button = document.querySelector('button')
				press_button.onclick=display_image
			}
		}

		function display_image(){
			document.body.innerHTML=`
			<div class='alert alert-success' role="alert">
				<h5 class='d-flex justify-content-center text-dark'>Here is your present!!!</h5>
			</div>
			<div class='container d-flex justify-content-center mb-2'>
				<img src='{{url_for('static', filename=image_file)}}' style='border:0.5rem solid black;'>
			</div>
			<div class='container col-1'>
			<!-- Button trigger modal -->
			<a href='{{url_for('static', filename=image_file)}}' download><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
  				Continue
			</button></a>

			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content bg-danger">
      				<div class="modal-header">
        				<h5 class="modal-title text-light" id="exampleModalLongTitle">Next Steps</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      			<div class="modal-body">
        			<div class="modal-body">
        				<form action='/thanks' method='POST' id="note">
        					<div class="form-group">
    							<h2 class='text-light'>Say Thanks</h2>
    							<textarea name='thanks' class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder='Give it some christmassy sass'></textarea>
  							</div>
  							<div class='form-group'>
  										<label class='text-white h4 mr-4'>Hit this button if you liked your 🎁</label>
  										<input style = 'display:inline;' name='like' type="radio" aria-label="Radio button for following text input">
  							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
        				</form>
      			</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      		</div>
    		</div>
 			</div>
			</div>
			</div>
			`

		}

		myVar = setInterval(change_message, 1000);

		item = document.querySelector('#note');

</script>
{% endblock %}


		
