{% extends 'layout.html' %}

{% block body %}
	<div class='jumbotron'>
		<h1>Woops</h1>
		<p>Looks like you weren't on the recepient list</p>
		<hr>
		<h2>You can always bring hapiness upon yourself by spreading the joy of Christmas</h2>
		<br>
		<h4><a href="{{url_for('send')}}" class='badge badge-pill badge-success'>Send a gift</a> to anyone you want</h4>
		<h4><a href="{{url_for('home')}}" class='badge badge-pill badge-danger'>Visit</a> the home page for this tool</h4>
		<h4>If your'e still looking for something to make you smile, here's a <a href='https://www.youtube.com/playlist?list=PL27kJ6FZRnZsDuRDcLR__BWTJbjLRyv3i' class='badge badge-pill badge-danger mr-2 ml-2' target='_blank'>compilation of some funny videos</a>that 1ntEgr8 enjoys</h4>
		<hr>
	</div>
{% endblock %}