{% extends 'layout.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff0000;">
  <a class="navbar-brand" href="/home">Surprise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/send">Send a Gift</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container bg-success mt-4">
<form method='POST' action=''>
  {{ form.hidden_tag() }}
  <fieldset class='form-group'>
    <div class="container bg-danger border-bottom mt-2 mb-3">
    <legend class="d-flex justify-content-center text-white">
      Place Order
    </legend>
  </div>

    <div class="form-row">
    <div class='form-group col'>
      {{ form.first_name.label(class='form-control-label text-light') }}

      {% if form.first_name.errors %}
        {{ form.first_name(class='form-control is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form.first_name.errors%}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
      {{ form.first_name(class='form-control', placeholder='Type in your first name') }}
      {% endif %}
    </div>
    <div class='form-group col'>
      {{ form.last_name.label(class='form-control-label text-light') }}

      {% if form.last_name.errors %}
        {{ form.last_name(class='form-control is-invalid')}}
        <div class='invalid-feedback'>
          {% for error in form.last_name.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.last_name(class='form-control', placeholder="Enter your last name") }}
      {% endif %}
    </div>
  </div>

    <div class='form-group'>
      {{ form.email.label(class='form-control-label text-light') }}

      {% if form.email.errors %}
        {{ form.email(class='form-control is-invalid') }}
        <div class='invalid-feedback'>
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
         {{ form.email(class='form-control', placeholder="Santa needs your email to keep you notified") }}
      {% endif %}
     
       <small id="emailHelp" class="form-text text-warning">santa will never share your email with anyone else.</small>
  </div>
    <div class='form-group'>
      {{ form.submit(class='btn btn-warning') }}
    </div>
  </fieldset>
</form>
</div>

{% endblock %}