{% extends 'layout.html' %}

{% block body %}
	<div class='jumbotron alert-success'>
		<h1 class='d-flex justify-content-center'>Spread the joy of Christmas!!!</h1>
	</div>
	<div class='jumbotron bg-success pb-4'>
	<div class='container'>
		<h3 class='d-flex justify-content-center text-white'><a href='{{url_for('send')}}' class='badge badge-pill badge-danger mr-2'>Send</a> a UNIQUE pixelated Christmas Tree greeting!</h3>
	</div>
	<div class='container pb-3'><h3 class='d-flex justify-content-center text-white'><a href="{{url_for('home')}}" class='ml-2 mr-2 badge badge-pill badge-warning'>Visit</a> Santa's website to learn more about this tool</div>
	<hr>
	<h5 class='d-flex justify-content-center text-dark'>Wanna learn how this tool works? Check out the <a href="https://github.com/1ntEgr8/surprise" class='ml-2 mr-2 badge badge-pill badge-info' target='_blank'>github repo</a></h5>
	<h6 class='d-flex justify-content-center text-dark pt-3'>Made with ❤️ by 1ntEgr8</h6>
</div>
{% endblock %}